<div class="row justify-content-center">
    <div class="btn-group btn-group-toggle options" ngbRadioGroup name="radio" ngDefaultControl [(ngModel)]="selectedOption">
        <label ngbButtonLabel *ngFor="let option of options" class="btn-primary">
            <input ngbButton type="radio" (click)="getChartData(option)" [value]="option"> {{option.twitterSearchTerm}}
        </label>
    </div>
</div>
<div class="row justify-content-center">
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" name="from" [(ngModel)]="from" placeholder="yyyy-mm-dd">
        </div>
        <div class="form-group">
            <input class="form-control" name="to" [(ngModel)]="to" placeholder="yyyy-mm-dd">
        </div>
    </form>
</div>
<div class="row justify-content-center" *ngIf="">Pearson correlation coefficient:</div>
<div class="row justify-content-center indexes" *ngIf="allMessagesCorrelation && positiveMessagesCorrelation && negativeMessagesCorrelation">
    <span>All messages: {{allMessagesCorrelation}}</span>
    <span>Positive messages: {{positiveMessagesCorrelation}}</span>
    <span>Negative messages: {{negativeMessagesCorrelation}}</span>
</div>
<div #chart>
    <!-- Chart will appear here -->
</div>
